.wrapper {
  display: flex;
  width: 146px;
  height: var(--button-height-m);
  min-width: var(--button-min-width-m);
  padding: 0 var(--button-padding-x-m);
  justify-content: center;
  align-items: center;
  gap: var(--button-gap);
  border-radius: var(--button-radius);
  background: var(--color-action-primary);
  color: var(--color-text-inverse);
}
